.train-info {
  background: #FFFFFF;
}

.train-info__change-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 26px;
  padding-left: 19px;
}

.train-info-btn__icon {
  width: 76px;
}

.train-info__change {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  background: none;
  border: none;
  font-size: 14px;
  color: #928F94;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 12px;
}

.train-info__change-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}