.check-payment {
  background: #FFFFFF;
  box-shadow: 0px 2px 2px 0px #00000040;
  border: 1px solid #C4C4C4;
}

.check-payment__grid {
  display: grid;
  grid-template-columns: 1fr 281px;
}

.check-payment__left {
  display: flex;
  align-items: center;
  height: 146px;
  border-right: 1px dashed #E5E5E5;
  padding: 44px 0 76px 33px;
  box-sizing: border-box;

}

.check-payment__value {
  font-size: 24px;
  font-weight: 400;
  color: #292929;
}

.check-payment__right {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
  align-items: flex-end;
}

