.check-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 78px;
  margin-bottom: 181px;
}

.check-actions__button {
  width: 323px;
  height: 60px;
  box-sizing: border-box;
  background-color: #FFA800;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.check-actions__button:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.check-actions__button:active {
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #FFA800;
  background-color: #FFFFFF;
  border: 1px solid #FFA800;
}
