.ticketEndButn-button {
    height: 60px;
    width: 222px;
    background-color: #FFA800;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 70px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.ticketEndButn-button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.ticketEndButn-button:active {
    border: 1px solid #FFA800;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #FFA800;
}